#set( $symbol_pound = '#' )
${symbol_pound} Setting up the dependencies

The project files are hosted in the [Maven Central Repository][maven-repo], and the [Github Packages Repository][github-repo]. This means that most Maven setups will be able to acquire the dependency without any additional configuration.

This means that most Maven setups will be able to acquire the dependency without any additional configuration. 

[maven-repo]: ${mavenURL}
[github-repo]: ${githubArtifactURL}